@{
    ViewBag.Title = "Home Page";
}

<script src="/Scripts/jquery-3.3.1.js"></script>

<style type="text/css">
    .calculator_div {
        margin-top: 10em;
        display: block;
        width: 34em;
        height: 32em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1em 1em 1em 1em;
        background: #575757;
        padding-top: 1em;
        z-index: 1;
    }
    .result_panel {
        display: block;
        width: 100%;
        padding: 0.3em;
        height: 3em;
        text-align: right;
        font-size: 35px;
        color: white;
    }
    .button_panel {
        display: block;
        width: 100%;
        padding: 0.3em;
        height: 20em;
        z-index: 0;
        text-align: center;
    }
    .button_panel button {
        background-color: #131313;
        border: 1px solid #1c1c1c;
        width: 23%;
        height: 3.4em;
        color: #fff;
        outline: none;
        margin-left: 0.1em;
        margin-right: 0.1em;
        margin-top: 0.4em;
        cursor: default;
        font-size: 20px;
    }
        .button_panel button:hover {
            background-color: #767676;
            border: 1px solid #919191;
            transition: background-color 0.25s;
            transition: border 0.1s;
        }
        .button_panel button:active {
            background-color: #838383;
            border: 1px solid #9D9D9D;
            transition: background-color 0.25s;
            transition: border 0.1s;
        }
</style>

<div class="calculator_div">
    <div class="result_panel">
        123+456=579
    </div>
    <div class="button_panel">
        <button>7</button> <button>8</button> <button>9</button> <button>+</button>
        <button>4</button> <button>5</button> <button>6</button> <button>-</button>
        <button>1</button> <button>2</button> <button>3</button> <button>×</button>
        <button>/</button> <button>0</button> <button>.</button> <button>÷</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Message</h2>
        <p>
            这里后面显示一下历史记录
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
</div>