@{
    ViewBag.Title = "Home Page";
}


<script src="/Scripts/jquery-3.3.1.js"></script>

<style type="text/css">
    #key-container {
        width: 200px;
        background: linear-gradient(#9dd2ea, #8bceec);
        border-radius: 3px;
        box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
        margin-left: 40%;
        margin-top: 10%;
    }

        #key-container div {
            width: 200px;
            height: 50px;
            text-align: right;
            background-color: black;
            color: white;
            border-radius: 6px;
            box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        #key-container table {
            border-spacing: 3px;
        }

            #key-container table tr td {
                height: 50px;
                width: 80px;
                border: 1px solid white;
                background-color: aqua;
                border-radius: 6px;
                box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
                text-align: center;
                position: relative;
                top: 0;
            }

    span {
        user-select: none;
        cursor: default;
    }

    #key-container table tr td:hover {
        background-color: red;
    }

    #key-container table tr td:active {
        box-shadow: 0px 0px #6b54d3;
        top: 4px;
    }
</style>

<div id="key-container">
    <div id='screen'> <span></span> </div> <table>
        <tr> <td colspan='2'><span>C</span></td> <td><span>转账</span></td><td><span>+</span></td> </tr>
        <tr" +
             "> <td><span>7</span></td><td><span>8</span></td> <td><span>9</span></td> <td><span>-</span></td> </tr> <tr" +
             "><td><span>4</span></td> <td><span>5</span></td><td><span>6</span></td> <td><span>*</span></td> </tr> <tr" +
             "> <td><span>1</span></td> <td><span>2</span></td> <td><span>3</span></td> <td><span>/</span></td> </tr> <tr" +
             "><td colspan='2'><span>0</span></td><td><span>.</span></td><td><span>=</span></td></tr>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>个人信息</h2>
        <p>
            这里后面显示一下历史记录
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>

<script type="text/javascript">
    /**
     * Created by 94437 on 2016/12/13.
     */
    $(document).ready(function () {

        var decimalAdded = false;
        var keys = document.querySelectorAll('#key-container table tr td');
        var operators = ['+', '-', '*', '/'];
        document.querySelector('#screen').innerHTML = '';

        for (var i = 0; i < keys.length; i++) {
            keys[i].onclick = function (e) {

                var input = document.querySelector('#screen');
                var inputVal = input.innerHTML;

                var btnValue = this.firstChild.innerHTML;

                if (btnValue == "C") {
                    input.innerHTML = '';
                    decimalAdded = false;
                } else if (btnValue == "=") {
                    var lastChar = inputVal[inputVal.length - 1];

                    if (operators.indexOf(lastChar) == -1 && '.'.indexOf(lastChar) == -1) {
                        var equation = inputVal;
                        input.innerHTML = '';
                        input.innerHTML = eval(equation);
                    }
                    decimalAdded = true;

                } else if (operators.indexOf(btnValue) > -1) {

                    var lastChar = inputVal[inputVal.length - 1];



                    if (inputVal != '' && operators.indexOf(lastChar) == -1) {
                        input.innerHTML += btnValue;
                    } else if (input != '' && operators.indexOf(lastChar) > -1) {
                        input.innerHTML = inputVal.replace(/.$/, btnValue);
                    }
                    decimalAdded = false;
                } else if (btnValue == '.') {
                    if (!decimalAdded) {
                        input.innerHTML += btnValue;
                        decimalAdded = true;
                    }
                } else {
                    input.innerHTML += btnValue;
                }
            }
        }
    });
</script> 