@{
    ViewBag.Title = "Login";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/login_and_register.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    function post() {
        return;
        var account = $("#txt_Account").val();
        var password = $("#txt_Password").val();
        //alert(localStorage.getItem("money"));
        $.ajax({
            type: "POST",
            url: "/Home/Login",
            async: true,
            dataType: "json",
            data: { "Account": account, "Password": password },
            success: function (result) {
                //console.log(result);
                if (result.Data == "success") {
                    alert("登陆成功！");
                    $("#loginstate").css('display', 'none');
                    window.location.href = "/Home/Index";
                } else {
                    alert("登陆失败，请重新登录！");
                }

            }
        });
    }
</script>

<style>
    .login-div-outer{
        background-image: url(/Content/login_bg.jpg);
    }
    .login-form{
        display: block;
        width: 20em;
        margin-left: 160px;
    }
    .login-form-register-div{
        text-align: right; 
        width: 100%;
        padding-top: 1em;
    }
    .login-form-register{
        color: white;
    }
    .login-form-register:hover{
        color: white;
    }
    .login-div-qrcode{
        position: relative;
        float: right;
        width: 200px;
        top: 210px;
        right: 210px;
        opacity: 0.8;
        border-radius: 3px;
        overflow: hidden;
    }
</style>
<div class="super-outer">
    <div class="login-div-outer">
        <div class="login-div-main">
            <label class="login-label">登录</label>

            <div class="login-div-qrcode">
                <img width="200px" src="/Content/qrcode.jpg">
            </div>
            <form class="login-form">
                <div class="login-info-block">
                    <label>用&nbsp;户&nbsp;名</label><br>
                    <input type="text" id="txt_Account" class="login-form-text" required>
                </div>
                <div class="login-info-block">
                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label><br>
                    <input type="password" id="txt_Password" class="login-form-text" required>
                </div>
                <div class="login-info-block">
                    <input type="button" id="login" value="登&nbsp;&nbsp;录" onclick="post()" class="login-form-button" >
                </div>
                <div class="login-info-block">
                    <div class="login-form-register-div">
                        <a href="/Home/Register" class="login-form-register">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--
<form class="sign-up">
    <h1 class="sign-up-title">现在登录</h1>
    <input type="text" id="txt_Account" class="sign-up-input" placeholder="用户名" required>
    <input type="password" id="txt_Password" class="sign-up-input" placeholder="输入密码" required>
    <input type="button" id="login" value="登录" onclick="post()" class="sign-up-button">
</form>
-->
