@{
    ViewBag.Title = "Login";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    function post() { 
        var account = $("#txt_Account").val();
        var password = $("#txt_Password").val();
        //alert(localStorage.getItem("money"));
        $.ajax({
            type: "POST",
            url: "/Home/Login",
            async: true,
            dataType: "json",
            data: { "Account": account, "Password": password },
            success: function (result) {
                //console.log(result);
                if (result.Data == "success") {
                    alert("登陆成功！");
                    $("#loginstate").css('display', 'none');
                    window.location.href = "/Home/Index";
                } else {
                    alert("登陆失败，请重新登录！");
                }
                
            }
        });
      }
</script>

<form class="sign-up">
    <h1 class="sign-up-title">现在登录</h1>
    <input type="text" id="txt_Account" class="sign-up-input" placeholder="用户名" required>
    <input type="password" id="txt_Password" class="sign-up-input" placeholder="输入密码" required>
    <input type="button" id="login" value="登录" onclick="post()" class="sign-up-button">
</form>




