.super-outer{
    display: block;
    height: 630px;
}
.login-div-outer{
    width: 100%;
    background: black;
    display: block;
    height: 0;
    padding-bottom:50%;
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: 3em;
    background-size: cover;
    box-shadow: 20px 20px 80px #666;
    transition: box-shadow 1s, border 1s, width 1s, padding-bottom 1s;
    border: none;/*1px solid rgba(150, 150, 150, 1.0);*/
    overflow: hidden;
}
.login-div-outer:hover{
    width: 101%;
    padding-bottom: 51%;
    box-shadow: 0px 0px 15px #000;
    border: none;/*1px solid rgba(110, 110, 110, 1.0);*/
    transition: box-shadow 1s, border 1s, width 1s, padding-bottom 1s;
}
.login-label{
    color: rgba(255, 255, 255, 0.8);
    font-size: 55px;
    font-weight: lighter;
    margin-left: 160px;
    margin-top: 1.6em;
    margin-bottom: 0px;
}
.login-div-main{
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 2s, opacity 2s;
    display: block;
    width: 100%;
    height: 50em;
    opacity: 0.80;
}
.login-div-main:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 1s, opacity 1s;
    opacity: 0.9;
}

.login-form label{
    color: white;
    font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0em;
}
.login-form-text{
    outline: none;
    height: 2em;
    line-height: 2em;
    font-size: 25px;
    border: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 3px solid white;
    transition: opacity 0.5s, border-bottom 0.5s;
    font-weight: lighter;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.75;
    box-shadow: 0px 0px 10px #333;
}
.login-form-text:hover{
    opacity: 0.50;
    transition: opacity 0.5s, border-bottom 0.5s;
}
.login-form-text:focus{
    opacity: 1.0;
    border-bottom: 3px solid #f0776c;
    transition: opacity 0.5s, border-bottom 0.5s;
    
}

.login-form-button{
    outline: none;
    width: 100%;
    height: 4em;
    border: none;
    background-color: #f0776c;
    transition: background-color 0.3s;
    margin-top: 2.5em;
    color: white;
    border-radius: 3px;
}
.login-form-button:hover{
    background-color: #e48e87;
    transition: background-color 0.3s;
}
.login-form-button:active{
    background-color: #be5a51;
    transition: background-color 0.15s;
}
.login-form-button:focus{
    background-color: #be5a51;
    transition: background-color 0.15s;
}
.login-info-block{
    display: inline-block;
    width: 20em;
    margin-right: 2em;
}